*{
    margin: 0px;
    padding: 0px;
}

/* menu todos */
.menu{
    border-right: 10px solid black;
    border-radius: 2.5px;
    margin: 0px; list-style: none;
    width: 85px;
    padding: 15px;
    transition: 0.5s;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 100px;
}
ul{
    position: fixed;
    top: 100px;
    left: -105px;   
   
}

/* Menus */
.menu1{
    background-color: rgb(173, 216, 230);
    margin-top:0px;
         
}
.menu1:hover{
    left:0px;    
}  

.menu2{
    background-color: rgb(255, 255, 0);
    margin-top: 57px; 
   
}
.menu2:hover{
    left:0px;    
}  
.menu3{
    background-color:rgb(255, 182, 193);
    margin-top: 114px; 
        
}
.menu3:hover{
    left:0px;    
}  
.menu4{
    background-color: rgb(144, 238, 144);
    margin-top: 171px;   
}
.menu4:hover{
    left:0px;    
}  
.menu5{
    background-color: rgb(240, 128, 128);
    margin-top: 228px; 
}
.menu5:hover{
    left:0px;    
}  










/* Fonte */
.ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
    
