*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* menu */
header ul{
    background-color: black;
    display: flex;  
    list-style-type: none;  
    justify-content: right;
   
}
header li{    
    height: 10px;
    margin: 30px ;   
}      
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-repeat: no-repeat;

}  
.html5:hover{
    background-image:url("../img/html530LOGO.png");
    background-position: 5px;
    background-color:white;
    color: black;   
    padding: 40px;    
    padding-right: 5px;
}
.css:hover{
    background-image:url('../img/css330LOGO.png');
    background-position: 5px; 
    background-color:white;
    color: black;  
    padding: 40px;
    padding-right: 5px;    
}
.java:hover{
    background-image:url('../img/javascript30LOGO.png');
    background-position: 5px; 
    background-color:white;
    color: black;  
    padding: 40px;
    padding-right: 5px;    
}
header img{
    width: 100%;
}
main section:nth-last-of-type(even){
    background-color: rgb(236, 236, 236);
}
main section:nth-last-of-type(odd) {
    background-color: white;
}
.conteiner{    
    margin-top: 15px ;
    display: flex;
    padding: 10px;
    flex-direction: row;
    text-align: justify;   
}
.linguagem div{
    width: 100%;
    margin:20px; 
   
}
.linguagem img{
    width: 30%;    
}

.linguagem div{
    text-align: center;    
}
p{
    margin-top: 15px;
    margin-left: 30px;
    
}

h1{
    text-align: center;
    font-size: 40px;
}
h2{
    color: rgb(24, 133, 56);
    font-weight: bold;
    font-size: 30px;
}

.titulo p{
    text-align: center;
    color: rgb(255, 0, 23);
    font-weight: bold;
    font-size: 20px;    
}


/* corpo main*/
main{
    width: 1200px;
    margin: auto;    
}
/* imagens gerais*/
img{
    width: 100%;
    
}

/* Footer */
footer{
background-color: black;
color: white;
padding: 30px;
text-align: center;
font-weight: bold;
}
